<body class="bkcolor">
<section id="registrationPage">
    <div class="container p-5">
      <div class="row mt-5">
        <div class="col-lg-4 offset-lg-4">
          <app-message></app-message>
          <div  style="width: 600px; margin-left: -200px; margin-top: -80px;height: 0px;">
            <div class="card-body">
              <h3  style="color: wheat;" class="display-4">
                Registration</h3>
              <hr>
              <figure class="avatar">
               <!-- <img src="/assets/img/profile.png" width="100px" >-->
            </figure>
              <form style="width: 500px;">
                <div class="form-group">
                  <label class="form-control-label" style="color:whitesmoke ;font-weight: 200;font-size: large;">Name</label>
                  <input type="text" name="name" class="form-control" [(ngModel)]="name">
                </div>

                
                <div class="form-group">
                  <label class="form-control-label"  style="color:whitesmoke ;font-weight: 200;font-size: large;">Email</label>
                  <input type="text" name="email" class="form-control" [(ngModel)]="email">
                </div>


                <div class="form-group">
                  <label class="form-control-label"  style="color:whitesmoke ;font-weight: 200;font-size: large;">Password</label>
                  <input type="password" name="password" class="form-control" [(ngModel)]="password">
                </div>
                <div class="form-group">
                  <label class="form-control-label"  style="color:whitesmoke ;font-weight: 200;font-size: large;">Confirm Password</label>
                  <input type="password" name="password1" class="form-control" [(ngModel)]="password1">
                </div>
                <!--<div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" name="isSeller" class="form-check-input" [(ngModel)]="isSeller"> Register as Seller
                  </label>
                </div> --> 
                            <hr>
                <button type="button" class="btn btn-primary btn-block" (click)="register()" [disabled]="btnDisabled">Next</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>