<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-sclae=1.0">
  </head>

  <body class="imagebk">
    <div class="container p-5">
     <div class="row mt-7">
    <div class="col-lg-8" style="margin-left: 300px;">
      <div class="about-section">
        <div class="inner-width">
          <h1>About Us</h1>
          <div class="border"></div>
          <div class="about-section-row">
            <div class="about-section-col">
              <div class="about">
                <p>
                    Thank you for choosing us to celebrate your sweet memories of life.
                    Here at the <i>Sprinkles Bakery</i> we are pleased to offer you customized birthday cakes 
                    ,wedding cakes ,cupcakes and cookies etc.We can make special desserts at your request.
        
                </p>
                <p class="company-icons-subtext hidden-xs" style="font-size: larger;"><i>We gurantee the highest quality of our products.
                    We use the highest quality ingredients to make our products.</i></p>
                
              </div>
            </div>
            <div class="about-section-col">
              <div class="skills">
                <div class="skill">
                  <div class="title">Taste</div>
                  <div class="progress">
                    <div class="progress-bar p1"><span>80%</span></div>
                  </div>
                </div>

                <div class="skill">
                  <div class="title">Design</div>
                  <div class="progress">
                    <div class="progress-bar p2"><span>95%</span></div>
                  </div>
                </div>

                <div class="skill">
                  <div class="title">On Time Work</div>
                  <div class="progress">
                    <div class="progress-bar p3"><span>100%</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    </div>
  </body>
</html>