
  <section id="loginPage" style="background-image: url(/assets/img/image14.jpg);">
    <div class="container p-5">
      <div class="row mt-5">
        <div class="col-lg-4 offset-lg-4">
          <app-message></app-message>
          <div  style="height: 0px;width: 500px;margin-left: -144px;">
            <div class="card-body">
              <h4 class="text-center" class="display-4" style="color: wheat;">Login</h4>
              <hr>
              <form>
                <div class="form-group">
                  <label style="color:whitesmoke ;font-weight: 300;font-size: large;">Email</label>
                  <input type="email" name="email" class="form-control" [(ngModel)]="email">
                </div>
                <div class="form-group">
                  <label style="color:whitesmoke ;font-weight: 300;font-size: large;">Password</label>
                  <input type="password" name="password" class="form-control" [(ngModel)]="password">
                </div>
                <hr>
                <button type="button" class="btn btn-primary btn-block" (click)="login()" [disabled]="btnDisabled">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
