
   
<body style="background-image: url('assets/consultation/bk1.png');">

<div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1589911638632" 
 id="page-5c115021575d1f58bf06c6c9">

 <div class="row sqs-row">
    <div class="col sqs-col-10 span-10" >

        <div class="sqs-block html-block sqs-block-html sqs-col-5 span-5 float float-left" 
        data-block-type="2" id="block-yui_3_17_2_1_1561209103927_32010">
        <div class="sqs-block-content" style="margin-left: 150px;">
            <h1 style="text-align:center;white-space:pre-wrap; ">
                <strong class="fontsen">Custom Cake Consultations</strong></h1>
                <br>
                <p class="" style="white-space:pre-wrap; margin-left: 100px;"  class="textfont">
                    <i style="font-weight: 500; font-size: larger;">
                      Looking for an unforgettable cake to top off your next event? 
                      We are here to bring your vision to life.</i>
                </p>
            </div>
        </div>
        </div>
        </div>
        </div>   

        <table style="width:100%">
          <tr>
            <th style="width: 650px;">
              <section id="home">
              <ngb-carousel style="width:300px; height: 350px;">
                <ng-template ngbSlide>
                  <img src="assets/consultation/pic01.jpg"  alt="first" class="item" class="picsize">
                </ng-template>
                <ng-template ngbSlide>
                  <img src="assets/consultation/pic02.jpg" alt="second" class="item" class="picsize">
                </ng-template>
                <ng-template ngbSlide>
                  <img src="assets/consultation/pic03.jpg" alt="third" class="item" class="picsize">
                </ng-template>
                <ng-template ngbSlide>
                  <img src="assets/consultation/pic04.jpg" alt="fifth" class="item" class="picsize">
                </ng-template>
                <ng-template ngbSlide>
                  <img src="assets/consultation/pic05.jpg" alt="sixth" class="item" class="picsize">
                </ng-template>
                
              <ng-template ngbSlide>
                <img src="assets/consultation/pic06.jpg" alt="seventh" class="item" class="picsize">
              </ng-template>
            <ng-template ngbSlide>
              <img src="assets/consultation/pic07.jpg" alt="seventh" class="item" class="picsize">
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/consultation/pic08.jpg" alt="seventh" class="item" class="picsize">
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/consultation/pic09.jpg" alt="seventh" class="item" class="picsize">
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/consultation/pic10.jpg" alt="seventh" class="item" class="picsize">
            </ng-template>
          </ngb-carousel>
        </section>
      </th>



            <th> <mat-accordion multi="true">

              <mat-expansion-panel style="margin-top: -254px;width: 600px;">
                <mat-expansion-panel-header style="font-style: italic;font-weight: bold;background-color: rgb(247, 216, 247);">
                  What can I expect at my consultation?
                </mat-expansion-panel-header>
            
                During cake consultations, clients collaborate one-on-one with an 
                experienced cake consultant who will help create and design your 
                vision into the perfect cake for any special occasion. 
                Customers will also sample a variety of our cake samples as well.
            
              </mat-expansion-panel>
            
              <mat-expansion-panel style="width: 600px;" >
                <mat-expansion-panel-header style="font-style: italic;font-weight: bold;">
                  What should I bring with me?
                </mat-expansion-panel-header>
            
                We recommend that you bring inspirational 
                pieces to assist in making your vision a reality. Helpful items include:
                <ul>
                  <li>Color Swatches</li>
                  <li>Event Invitation</li>
                  <li>List of Ideas</li>
                  <li>Photo Inspiration</li>
                  <li>Cake Topper/Cake Jewelry</li>
                  </ul>
            
              </mat-expansion-panel>

              <mat-expansion-panel style="width: 600px;">
                <mat-expansion-panel-header style="font-style: italic;font-weight: bold;background-color: rgb(247, 216, 247);">
                  How far in advance do I need to place my cake order?
                </mat-expansion-panel-header>
            
                For standard cakes, contact our bakery at any time. 
                While we request that orders are placed a week in advance,
                 please give us a call and we'll be happy to accommodate your order.
                  If you're placing a custom cake order,
                 we require two week's notification. For specific inquiries, please contact 0714862655.
            
              </mat-expansion-panel>

              <mat-expansion-panel style="width: 600px;">
                <mat-expansion-panel-header style="font-style: italic;font-weight: bold;">
                  How do I order a cake?
                </mat-expansion-panel-header>
            
                First, we recommend viewing our cake galleries for inspiration!
                 Please make note of the selected cake design and number and call our cake consultation
                   during our business hours (Mon-Sun from 9AM - 5PM) or can order online.
                   If the cake you are looking to purchase requires special customization,
                    please book a consultation. 
                Please keep in mind that cakes that require a consultation must be ordered at least 2 weeks in advance.
            
              </mat-expansion-panel>

              <mat-expansion-panel style="width: 600px;">
                <mat-expansion-panel-header style="font-style: italic;font-weight: bold;background-color: rgb(247, 216, 247);">
                  What is your store policy?
                </mat-expansion-panel-header>
            
                All food sales are final. All payments are non-refundable.
                 Payment for Custom orders must be paid 2 weeks in advance.
                  Any cancellations must be made 2 weeks in advance.
            
              </mat-expansion-panel>
            
            </mat-accordion>
          </th>
            
          </tr>
          </table>
        
        


          

         
            
           
       
        </body>
        
               
                
                
                
                













 <!--<div class="margin-auto demo-div box-shadow width: 940px; min-height: 204px;>
    <ng-image-slider>
        <div class="ng-image-slider" style="height: 200px;">
            <div class="ng-image-slider-container">

                <div class="main-inner" style="margin-left: -512px;
                 width: 2078px; transition: none 0s ease 0s;">

                 <div class="img-div image-popup" style="width: 250px; 
                 margin-left:3px; margin-right: 3px;">
                <custom-img>
                    <div>
                        <img class="img" src="assets/consultation/pic1.jpg"
                        alt="cake 01">
                    </div>
                </custom-img>
                 </div>


                 <div class="img-div image-popup" style="width: 250px; 
                 margin-left:3px; margin-right: 3px;">
                <custom-img>
                    <div>
                        <img class="img" src="assets/consultation/pic1.jpg"
                        alt="cake 01">
                    </div>
                </custom-img>
                 </div>


                </div>

                <a class="prev icons prev-icon"></a>
                <a class="prev icons next-icon"></a>

            </div>
            </div>
        </ng-image-slider>
        </div>--> 
    

      

    
        

        <!--<img class="thumb-image" data-src="assets/consultation/pic1.jpg"
         data-image="assets/consultation/pic1.jpg" 
         data-image-dimensions="2500x3750"
          data-image-focal-point="0.5,0.5" 
          alt="assets/consultation/pic1.jpg" data-load="false"
           data-image-id="5d07e7a61206b0000131ddcb" 
           data-type="image" />-->