
<html>
  <head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">
  </head>

<nav class="navbar navbar-expand-md navbar-dark bg-main" style="background-image: url(assets/img/headerpic02.jpg);">
  <div class="container-fluid">
<!--logo-->
    <a routerLink="/" class="navbar-brand">
      <img src="./assets/img/logo.png" alt="logo" id="logo"> 
    </a>
    <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isCollapsed" style="align-items: left; margin-left: 50px;" class="collapse navbar-collapse flex-column"
      id="navbarNav">
<!--search bar-->
      <div class="input-group w-75">
        <input type="text" name="search" class="form-control" [(ngModel)]="searchTerm" (keyup.enter)="search()">
        <span id="searchBtn" class="bg-danger" (click)="search()">
          <i class="fa fa-search"></i>
        </span>
      </div>

      <div class="w-100">
        <!--navigation bar-->
        <ul class="navbar-nav" style="margin-left: 100px;">

          <li class="nav-item" style="margin-top: 21px;">
            <a (click)="collapse()" routerLink="/categories" routerLinkActive="active" class="nav-link" class="nav" style="color: rgb(221, 216, 216 );" class="font">CATEGORIES</a>
          </li>
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;

          <li class="nav-item" style="margin-top: 21px;">
            <a (click)="collapse()" routerLink="/about-us"  class="nav-link" class="nav" style="color: rgb(221, 216, 216);" class="font">ABOUT &nbsp; US</a>
          </li>
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
         
          <li class="nav-item" style="margin-top: 21px;">
            <a (click)="collapse()" routerLink="/consultation"  class="nav-link" class="nav" style="color: rgb(221, 216, 216);" class="font"> FAQS</a>

          </li>
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;

          <li class="nav-item" style="margin-top: 21px;">
            <a (click)="collapse()" routerLink="/view-visuals"  class="nav-link" class="nav" style="color: rgb(221, 216, 216);" class="font">CUSTOMER FEEDBACK</a>
          </li>
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          <!--Account/register/signin/login-->
          <li class="nav-item ml-0 ml-md-auto" ngbDropdown #dropdown="ngbDropdown" style="margin-right: 40px;">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle style="color: rgb(221, 216, 216);font-size: large;font-weight: bold;" style="font-family: Gabriola; margin-top: 30px; font-size: 20px;">
              <i class="fa fa-user mr-1"></i>
              <span *ngIf="!token" >Accounts</span>
              <span *ngIf="data.user">{{ data.user.name }}</span>
            </a>
            <div ngbDropdownMenu class="dropdown-menu">

              <a *ngIf="token" (click)="closeDropdown(dropdown);collapse();" routerLink="/profile" class="dropdown-item">
                <i class="fa fa-user-circle" aria-hidden="true"></i> Profile
              </a>

              <a *ngIf="!token" (click)="closeDropdown(dropdown);collapse();" routerLink="/login" class="dropdown-item">
                <i class="fa fa-key" aria-hidden="true"></i> Login
              </a>

              <a *ngIf="token" (click)="closeDropdown(dropdown);collapse();logout();" class="dropdown-item">
                <i class="fa fa-key" aria-hidden="true"></i> Logout
              </a>
              <a *ngIf="!token" (click)="closeDropdown(dropdown);collapse();" routerLink="/register" class="dropdown-item">
                <i class="fa fa-group" aria-hidden="true"></i> Register
              </a>

            </div>
          </li>

          <li class="nav-item ml-0 ml-md-2">
            <a (click)="collapse()" routerLink="/cart" routerLinkActive="active" class="nav-link">
              <i class="fa fa-shopping-cart mr-1" style="color: rgb(221, 216, 216); " ><strong>Cart</strong></i>
              <span *ngIf="data.cartItems" class="badge badge-warning ml-1">{{ data.cartItems }}</span>

            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>


<footer id="main-footer" class="bg-main text-white mt-5 p-5"   style="background-image: url(assets/img/headerpic02.jpg) ;">
  <div class="container">
    <p class="lead text-center">-Sprinkles Bakery-</p>
  </div>
</footer>
</html>