<!--<body class="bkimage">-->
<section id="profile" class="bkimage">
    <div class="container p-5">
      <h4 class="display-4">My Profile</h4>
      <hr>
      <div *ngIf="!data.user" class="m-auto">
        <h1 class="text-center display-3 mt-5">
          <i class="fa fa-spinner fa-spin"></i>
        </h1>
      </div>
      <div *ngIf="data.user" class="row mt-5">
        <div class="col-md-3">
          <img  src="/assets/img/prof.png" alt="userimage" class="rounded-circle image">
        </div>
        <!-- [src]="data.user.picture"-->
        <div class="col-md-8 ml-3">
          <p id="name"  style="font-weight: 600;" class="lead">{{ data.user.name }}</p>
         <a routerLink="/profile/orders" class="btn btn-secondary">Orders</a>
          <br>
          <br>
          <a routerLink="/profile/settings" class="btn btn-secondary">Change Account Settings</a>
          <br>
          <br>
         <!-- <a routerLink="/profile/address" class="btn btn-secondary">Change Delivery Address</a>-->
          <br>
          <br>
          <div *ngIf="data.user.isSeller">
            <p class="lead" style="font-weight: bolder;">Admin Actions</p>
            <hr>
            <div class="row">
              <div class="col-md-6 mb-3">
                <a routerLink="/profile/postproduct" class="btn btn-outline-info btn-block" style="font-weight: bold;">Post Product</a>
              </div>
              <div class="col-md-6">
               <a routerLink="/profile/myproducts" class="btn btn-outline-info btn-block"style="font-weight: bold;">My Products</a>
              </div>
              <div class="col-md-6 mb-3">
                <a routerLink="/create-ordersreport" class="btn btn-outline-success btn-block" style="font-weight: bold;">Order Report</a>
              </div>
              <div class="col-md-6 mb-3">
                <a routerLink="/create-reviewreport" class="btn btn-outline-success btn-block" style="font-weight: bold;">Reviews Report</a>
              </div>
              <div class="col-md-6 mb-3">
                <a routerLink="/create-usersreport" class="btn btn-outline-success btn-block" style="font-weight: bold;">Users Report</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--</body>-->
  